html, body {
    height: 100%;
    margin: 0;
	box-sizing: border-box;
}

main.creme, main.ashyblue {
	background-color: #F5F8F2;
	padding: 37px;
	padding-top: 20%;
}

main.ashyblue {
	background-color: #A5ACB6;
	padding: 10%;
}

main.ashyblue h1, main.ashyblue h2, main.ashyblue p {
	color: #F5F8F2;
}

main.ashyblue h1 {
	margin-bottom: 20%;
}

/*weiß*/
.frame-layout-1 {
	padding: 50px 37px;
	border-top: 1px solid #A5ACB6;
}

/*creme*/
.frame-layout-2 {
	background-color: #F5F8F2;
}

/*ashyblue*/
.frame-layout-3 {
	background-color: #A5ACB6;
}

/*transparent*/
.frame-layout-4 {
	margin: auto;
	position: relative;
	background-color: transparent;
	clear: both;
}

/*Rahmen Portfolio und Presse Einträge*/
.frame-layout-6 {
	padding: 50px 37px;
	border-top: 1px solid #A5ACB6;
}

.frame-layout-3, .frame-layout-4 {
	padding: 37px;
}

.frame-space-after-large {
    margin: 0;
	padding-bottom: 60%;
	overflow: auto;
}

.frame-space-before-large {
    margin: 0;
	padding-top: 40%;
}

li {
	list-style: none;
}

.text-center {
	text-align: center;
}

main header {
	background-color: inherit; /* same background for headers as their main section*/
	padding: 0;
}

/* Schriftarten */
/* Source Sans Pro Light */
@font-face {
    font-family: 'Self Modern';
    src: local('Self Modern Book'),
    url('/fileadmin/fonts/selfmodern/self-modern_book_web.woff'),
    url('/fileadmin/fonts/selfmodern/self-modern_book_web.woff2');
}

@font-face {
    font-family: 'Self Modern';
    src: local('Self Modern Italic'),
    url('/fileadmin/fonts/selfmodern/self-modern_italic_web.woff'),
    url('/fileadmin/fonts/selfmodern/self-modern_italic_web.woff2');
	font-style: italic;
}

/* Schrift */
h1 {
	font-family: Founders Grotesk;
	font-size: 2.6em;
	text-align: center;
	color: #A5ACB6;
	margin: 0 0 25px 0;
}

h2 {
	font-family: Founders Grotesk;
	font-size: 2em;
	color: #A5ACB6;
	margin: 0;
}

h3 {
	font-family: Founders Grotesk;
	font-size: 1.875em;
	color: #A5ACB6;
	margin: 0 0 25px 0;
}

p {
	font-family: Self Modern;
	font-size: 0.9em;
	line-height: 150%;
	color: #717684;
}

.listtext-creme, .listtext-ashyblue{
	font-family: Founders Grotesk;
	font-size: 1.25em;
	color: #F5F8F2;
	width: 66%;
	margin: 5% 0 5% 33%;
}

.listtext-ashyblue {
	color: #717684;
}

.copytext {
	font-family: Self Modern;
	font-size: 1.25em;
	line-height: 150%;
	text-align: center;
	color: #717684;
}

p.italic {
	font-family: Self Modern;
	font-size: 1.25em;
	font-style: italic;
	color: #F5F8F2;
}

/*Links*/
a {
	font-family: Self Modern;
	font-size: 1em;
	color: #717684;
}

a:hover {
	color: #FF4F3D;
}

/*Links Menü*/
#menu li a {
	font-family: Founders Grotesk;
	font-size: 5.625em;
	text-decoration: none;
	color: #F5F8F2;
}

/*Links Footer*/
.footerbody li a {
	font-family: Founders Grotesk;
	font-size: 2em;
	text-decoration: none;
	color: #F5F8F2;
}

li a:hover {
	text-decoration: underline;
	color: #F5F8F2;
}

/*Links Portfolio*/
.portfolio-col2 a:link, .portfolio-col2 a:visited, .portfolio-col3 a:link, .portfolio-col3 a:visited {
	display: inline-block;
	width: 89%;
	padding: 5%;
	margin-top: 5%;
	border: 1px solid #A5ACB6;
	text-align: center;
	text-decoration: none;
}


.portfolio-col2 a:hover, .portfolio-col3 a:hover  {
	border: 2px solid #FF4F3D;
}

/*Menü*/
header {
	position: relative;
	padding: 37px;
	background-color: #A5ACB6;
}

#logo img {
	height: 75px;
	width: auto;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #A5ACB6;
}

#menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
	background-color: transparent;
	border: none;
	font-family: Founders Grotesk;
	font-size: 1.25em;
	padding: 37px;
	color: #F5F8F2;
}

button:focus, button:hover {
	text-decoration: underline;
}

#openbtn, #closebtn {
	position: absolute;
	top: 0px;
	right: 0px;
}
  
/*Footer*/
footer {
	height: 100vh;
	position: relative;
	background-color: #A5ACB6;
}

.footerbody {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.row {
	width: 80%;
	padding: 5% 10%;
	margin: 0;
	border-bottom: 2px solid #F5F8F2;
}

.row h1 {
	text-align: left;
	color: #F5F8F2;
}

.und::after {
	content: " und ";
	white-space: pre;
	font-family: Founders Grotesk;
	font-size: 2em;
	color: #F5F8F2;
}

/* Home */
.frame-layout-4 .ce-image {
	margin: auto;
	position: absolute;
	top: -30%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

/*Portfolio*/
.portfolio-col2 .ce-gallery, .portfolio-col3 .ce-gallery {
	margin-bottom: 15%;
}

.portfolio-col2 .ce-column, .portfolio-col3 .ce-column {
	margin: auto;
}

.portfolio-col2 .frame-type-header, .portfolio-col3 .frame-type-header {
	display: none;
}

.frame-layout-6 {
	border-top: 2px solid #A5ACB6;
}

/*Kundinnen*/
.frame-layout-5 .ce-image {
	padding: 10% 0;
}

.ce-gallery figure {
	display: block;
}

.frame-layout-5 .ce-column {
	margin: 0;
	width: calc(100%/3);
}
.frame-layout-5 .image-embed-item {
	width: 80%;
	height: auto;
	padding: 10%;
}

/*Presse*/
.presse-col1 .frame-type-header {
	padding: 50px 37px 0px;
}

.presse-col1 .frame-layout-1 {
	border-top: none;
}

/*Kontakt*/
.frame-layout-0 h1 {
	text-align: left;
}

/*IPAD*/
@media only screen and (min-width: 48em) {
	main.creme {
		padding: 41px;
	}

	/*Schrift*/
	h1 {
		font-size: 3.125em;
		margin: 0 0 25px 0;
	}
	
	h2 {
		font-size: 2.5em;
	}
	
	h3 {
		font-size: 1.875em;
		margin: 0 0 25px 0;
	}
	
	p {
		font-size: 1.25em;
	}
	
	.listtext-creme, .listtext-ashyblue{
		font-size: 1.875em;
	}

	.listtext-creme {
		width: 40%;
		float: left;
		margin: 5% 10% 5% 0;
	}

	.listtext-ashyblue{
		width: 55%;
		margin: 5% 0 5% 45%;
	}
	
	.copytext {
		font-size: 1.875em;
	}
	
	p.italic {
		font-size: 1.875em;
	}
	
	/*Links Menü*/
	#menu li a {
		font-size: 5.625em;
	}

	button {
		font-size: 3.125em;
		padding: 50px;
	}
	
	/*Links Footer*/
	.footerbody li a {
		font-size: 3.125em;
	}

	/*Menü*/
	header {
		padding: 50px;
	}

	#logo img {
		height: 145px;
	}

	/*Footer*/
	footer {
		clear: both;
	}

	.row li {
		float: left;
	}

	.row {
		overflow: auto;
		padding: 2% 10%;
	}

	.und::after {
		font-size: 3.125em;
	}

	/*Portfolio*/
	.portfolio-col2, .portfolio-col3, .presse-col1, .presse-col2 {
		float: left;
		width: 49%;
	}

	.portfolio-col2, .presse-col1 {
		border-right: 2px solid #A5ACB6
	}

	.portfolio-col2 .frame-type-header, .portfolio-col3 .frame-type-header {
		display: block;
	}

	.frame-layout-1 {
		border-top: none;
	}

	.panorama {
		clear: both;
	}

	/*Kundinnen*/
	.frame-layout-5 h1 {
		text-align: left;
	}

	.frame-layout-5 .ce-column {
		width: calc(100%/6);
	}
}

/*Desktop*/
@media only screen and (min-width: 75em) {
	main.creme {
		padding: 60px;
	}

	/*Schrift*/
	h1 {
		font-size: 5.625em;
		margin: 0 0 25px 0;
	}
	
	h2 {
		font-size: 3.125em;
	}
	
	h3 {
		font-size: 2.5em;
		margin: 0 0 25px 0;
	}
	
	p {
		font-size: 1.375em;
	}

	.listtext-creme {
		width: 20%;
		float: left;
		margin: 5% 10% 5% 0;
	}

	.listtext-ashyblue{
		width: 55%;
		margin: 5% 0 5% 45%;
	}

	.copytext {
		width: 50%;
		margin: auto;
	}
	
	/*Links Menü*/
	#menu li a {
		font-size: 9.375em;
	}

	button {
		padding: 60px;
	}

	/*Menü*/
	header {
		padding: 60px;
	}

	#logo img {
		height: 248px;
	}

	/*Portfolio*/
	.portfolio-col1 {
		float: left;
		width: 49%;
	}
	.portfolio-col2, .portfolio-col3 {
		float: left;
		width: 24%;
	}

	.portfolio-col1 {
		border-right: 2px solid #A5ACB6
	}

	.frame-layout-1 {
		border-top: none;
	}
}