<html data-namespace-typo3-fluid="true" xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">
    <header>
        <a id="logo" href="/"><img src="fileadmin/logos/logo_annaschunck_creme_untereinander.svg" alt="Logo"></a>
        <p class="italic">Journalistin</p>
        <nav id="menubody" class="overlay">
            <button id="closebtn" onclick="closeNav()">Menü schließen</button>
            <f:render partial="Menue/Header"/>
        </nav>
        <button id="openbtn" onclick="openNav()">Menü</button>
    </header>

    <f:if condition="{data.layout}==2">
        <f:then>
            <main class="creme">
                <!-- Hauptinhalt -> rendern übers Template -->
               <f:render section="Main"/>
            </main>
        </f:then>
        <f:else>
            <f:if condition="{data.layout}==3">
                <f:then>
                    <main class="ashyblue">
                        <!-- Hauptinhalt -> rendern übers Template -->
                    <f:render section="Main"/>
                    </main>
                </f:then>
                <f:else>
                    <main>
                        <!-- Hauptinhalt -> rendern übers Template -->
                    <f:render section="Main"/>
                    </main>
                </f:else>
            </f:if>
        </f:else>
    </f:if>

    <footer>
        <!-- Inhalt im Fußbereich, z.B. Doormat-Navigation -->
        <f:render partial="Menue/Footer"/>
    </footer>
</html>
